[2014-01-13 20:24] ingorichter opened #1 "Extension doesn't get loaded"
Installed the Extension through Extension manager, but it always fails with an error. This is what I've found in the console: `Uncaught ReferenceError: module is not defined`

[2014-01-14 22:16] #1 closed, assigned to nobody

[2014-01-29 17:17] EvHaus opened #2 "Syntax error cause Brackets CodeInspector to fail"
If the Javascript file has a syntax error, JSCS will fail silently and prevent any further execution of CodeInspector code - resulting in errors to slip by.

Make sure to catch syntax errors and report them back to the console.

Brackets console outputs:

[code]

[2014-01-30 04:40] #2 closed, assigned to nobody

[2014-02-20 09:47] thany opened #3 "Doesn't do anything"
I've installed the extension, placed the example `.jscs.json` file in my project root, and then saved a random javascript file. It does absolutely nothing. And I know for a fact the javascript isn't indented and curly-braced the same way across the file. So it should do at least _something_. In fact, there's a piece of minified code at the top of my javascript - I expected that to be un-minified t

[2014-03-27 20:39] lawlesscreation opened #4 "Support for .jscsrc file name"
It would be nice if the extension supported the file format `.jscsrc`. It seems a lot of extensions like CSS Lint (.csslintrc) and JSHint (.jshintrc) all tend to go for that kind of file name format.

Obviously this would be easy to change and I could raise a pull request, but perhaps its better to get thoughts on this first? Should it support BOTH `.jscsrc` and `.jscs.json`? Most of the other ext

[2014-03-28 02:51] #4 closed, assigned to nobody

[2014-03-30 04:49] #3 closed, assigned to EvHaus

[2014-04-05 00:11] zaggino opened #5 "please update registry version to latest jscs"
i'm getting `JSCS failed to initialize: AssertionError: safeContextKeyword option requires string value` but that seems not to be true for latest version:
https://github.com/mdevils/node-jscs#safecontextkeyword

[2014-04-05 17:33] #5 closed, assigned to nobody

[2014-04-16 22:45] zaggino opened #6 "Unsupported rules: additionalRules"
When my repo is open (https://github.com/zaggino/brackets-git) I get a lot of these errors:
[code]

[2014-04-17 02:19] EvHaus opened #7 "Investigate support for async linting in Brackets"
Looks like async linting is now possible. Investigate: https://github.com/adobe/brackets/pull/6530

[2014-05-12 06:10] #7 closed, assigned to EvHaus

[2014-06-03 08:43] Hirse opened #8 "Files in Subsubfolders are ignored"
When I put the `.jscs.json` into the Project Root, files in the `js` folder will get linted as expected:
![jscs_1](https://cloud.githubusercontent.com/assets/2564094/3102100/912eab78-e641-11e3-93c9-49827baf6265.PNG)
But files in the `js_inner` folder are ignored:
![jscs_2](https://cloud.githubusercontent.com/assets/2564094/3102258/7899da08-e644-11e3-990e-c0af0748e600.PNG)
To get linting for that f

[2014-06-03 21:28] blah238 opened #9 "Update JSCS to latest version"
I'm using the Google JSCS preset here: https://github.com/mdevils/node-jscs/blob/master/presets/google.json

Getting lots of errors about unsupported rules, e.g.:

[code]

I guess they were added after the version in brackets-jscs, and I couldn't figure out why JSCS wasn't working until opening the developer tools.

[2014-06-06 05:05] #9 closed, assigned to EvHaus

[2014-06-06 05:15] #8 closed, assigned to EvHaus

[2014-06-27 04:00] santhoshtr opened #10 "Please update to node-jscs 1.5.6"
node-jscs updated to 1.5.6. Please use the updated version. I need the new wikimedia preset :)

[2014-06-27 15:07] #10 closed, assigned to EvHaus

[2014-10-06 11:30] manderson23 opened #11 "Support .jscsrc file outwith project tree"
I would like to share the same .jscrc configuration between multiple projects. However, searching for a .jscrc stops at the project root.

Could support for a global default config file or scanning beyond the project root be supported? For example, the Brackets JSHint extension supports scanning the complete parent tree to find a configuration file.

[2014-10-15 09:57] peey opened #12 "Update to the latest node-jscs (Mainly for ES6)"
Currently, brackets jscs stops when it encounters ES6 features like generator functions, which have a star in their syntax. [This issue was just solved in node-jscs](https://github.com/jscs-dev/node-jscs/issues/561#event-178191860). Updating node-jscs will allow usage of brackets-jscs with ES6.

[2014-10-18 19:31] #12 closed, assigned to nobody

[2015-01-28 19:47] red2678 commented on #11
:+1:  This would be huge!

[2015-02-13 17:08] rajsite commented on #11
Being able to place a jshintrc and a jscsrc in the same folder (shared by multiple children projects) would be great, either by scanning the same way as jshint or with a config setting.

[2015-03-02 15:22] hacker112 opened #14 "Gives no hints at all"
I tried to create a simple .jscs.json file and added it to my projects root-dir:
[code]
The jscs command line tool gives me errors. But Brackets gives me no hints at all.
Other Brackets hinting extensions works fine like jsonhint and jshint.
I am using Brackets 1.1.

Any idea of why it is not working?

[2015-03-02 16:45] globexdesigns commented on #14
The example .jscsrc file you pasted doesn't have any rules defined. The extension does not enable any rules by default. Try something like this:

[code]

[2015-03-03 08:30] hacker112 commented on #14
Thanks!
First it did not help at all. Still nothing.
Then I remembered that I changed Brackets settings after upgrading to Brackets 1.1 a while back.
They changed how linters where used: all lint tools where used, which mean that even the built in jslint was used which gave me a lot of errors. So what I did then and forgot was:
[code]

So now I changed it to:
[code]

And it worked like a charm eve

[2015-03-03 15:31] globexdesigns commented on #14
Great idea! README has been updated.

[2015-03-03 15:31] #14 closed

[2015-03-11 09:56] hacker112 opened #15 "Trailing space in comment breaks brackets-jscs"
If there is a trailing space in a comment an "Unexpected token"-error is created in brackets-jscs.
This is not a problem when running JSCS in commandline.

[code]

![jscs-brackets-trailing-space-error](https://cloud.githubusercontent.com/assets/620746/6593926/0609590c-c7dd-11e4-910d-bab37ceab379.png)

[2015-03-11 09:58] hacker112 commented on #15
And here is by the way the .jscs.json-config that was used if that helps

[code]

[2015-03-11 10:24] hacker112 commented on #15
I have now found that the problem is in

[2015-03-11 10:29] hacker112 commented on #15
I have now found that the error is in handleJSXJSCS (Probably in JSXTransformer.transform(text, {harmony: true}).code;)

I added some console output to confirm this
[code]

Which gives the output:
[code]

My workaround until it is fixed is to change line 189 in main.js to (since I do not use harmony I hope guess that JSXTransformer.transform is not necessary for me):
[code]

[2015-03-11 17:14] globexdesigns commented on #15
Looks like an issue with the JSXTransformer. I have opened a new bug with the Facebook team: https://github.com/facebook/react/issues/3378

[2015-03-12 08:01] hacker112 commented on #15
I think it is not JSXTransformer, but this line in handleJSXJSCS:

[code]

If I remove it it works better.

Also Node-shebangs ( #!/usr/bin/env node\n ) are not handled correctly. It should be ignored if it is in the beginning of a file. I suggest the following in the beginning of the handleJSXJSCS-function:
[code]

[2015-03-12 15:16] globexdesigns commented on #15
A fix has been pushed for this. Please try v0.2.2 of the extension.

[2015-03-12 15:16] #15 closed

[2015-03-13 12:20] hacker112 commented on #15
The first problem is fixed now. But the other one is still a problem, I will create separate issue for that and a pull request.

[2015-03-13 12:28] hacker112 opened #16 "Node-shebangs (#!...) gives errors..."
...Which works fine in JSCS CLI.

![jscs-brackets-shebang](https://cloud.githubusercontent.com/assets/620746/6638220/f2f37200-c983-11e4-9cb2-2de2fd26bfad.png)

[2015-03-13 12:36] hacker112 commented on #15
Now you have a new problem. The rule:
[code]
does not work anymore. I will create a new issue for that.

[2015-03-13 12:39] hacker112 opened #17 "Rule disallowTrailingWhitespace broken"
The JSCS rule:

[code]
does not work.

It is cause by the following code most probably:
[code]

[2015-03-13 12:41] hacker112 commented on #17
Why is it necessary to remove trailing whitespace from the JSXTransformer in the first place? Where does it come from?

[2015-03-13 13:09] hacker112 commented on #16
Created pull request to fix this issue:

https://github.com/globexdesigns/brackets-jscs/pull/18

[2015-03-13 14:26] globexdesigns commented on #17
JSXTransformer, unfortunately, does some ugly things - like leaving behind trailing whitespace during certain operations. Since most people don't want trailing whitespace to be allowed - the simplest solution is to simply clear it out.

[2015-03-13 14:40] hacker112 commented on #17
Since there seems to be some issues with JSXTransformer, and I do not use JSX. I just want to be able to use JSCS in Brackets as it is suppose to work.

I think most people do not use JSX, I would suggest that we turn it off as default and then add an brackets-setting to turn it on for those who use it.

Then default behavior would be a plugin that works just like the JSCS should :-)

[2015-03-14 16:59] globexdesigns commented on #17
I'm with you. I suspect I'll be adding a GUI to let users select whether or not they want JSX parsing enabled (false being the default).

[2015-03-14 19:53] hacker112 commented on #17
Great :-) A good start could be to just add it in the brackets.json.

[2015-03-19 15:27] jeromecovington opened #19 ".jscsrc does not appear to have any effect"
Using this .jscsrc file on Ubuntu works great. It seems to be ignored on Mac OS 10.10.2. .jscs.json also appears to be ignored on that operating system. Using brackets release 1.2 build 1.2.0-15697 (release 8f82e2a97) build timestamp: Sun Feb 22 2015 22:34:50 GMT-0800

.jscs is in the project root, at the same level as .jshintrc
[code]

Here is the brackets.json
[code]

[2015-03-25 15:13] stefan-schweiger commented on #19
+1 it does also not work for me under windows, JSHint works just fine but JSCS does not display any errors defined in the settings file

[2015-03-25 16:05] globexdesigns commented on #16
v0.3.0 was just pushed to the Brackets Extension registry which completely removes JSX processing, so this patch should no longer be needed.

[2015-03-25 16:05] #16 closed

[2015-03-25 16:05] globexdesigns commented on #17
v0.3.0 was just pushed to the Brackets Extension registry which completely removes JSX processing, so this patch should no longer be needed.

[2015-03-25 16:05] #17 closed

[2015-03-25 16:05] globexdesigns commented on #19
v0.3.0 was just pushed to the Brackets Extension registry which should resolve this issue.

[2015-03-25 16:05] #19 closed

[2015-03-25 16:21] stefan-schweiger commented on #19
You might want to reopen this issue.

It still does not work for me, after updating the extension and restarting Brackets. JSHint stuff is shown for me, but JSCS still does not appear in the Interactive Linter.

Just to be sure I got everything right:

**brackets.json** (Application Preferences File)
[code]

**.jscsrc** (In project root folder)
[code]

**somefile.js**
[code]

[2015-03-25 16:35] stefan-schweiger commented on #19
Ok it seems that, some other extension was messing with JSCS (works when I only have JSHint and JSCS installed), I will now try to enable them again one by one and give you some feedback.

[2015-03-25 16:40] globexdesigns commented on #19
Hmm, yeah, I'm not sure what Interactive Linter does. Reference the issue you open with the author and maybe together we can find a solution.

[2015-03-28 12:34] MiguelCastillo commented on #19
@stefan-schweiger thanks for reaching out. interactive linter is pretty invasive in the sense that it will remove any registered javascript linters. this is simple because of performance issues.  my take is that if you have interactive linter then having another linter running along side is not what you are looking for.

with that said, I have just added support for defining what linter you want t

[2015-04-14 14:14] lmagne opened #20 "BUG : "disallowSpacesInsideParentheses" works like "requireSpacesInsideParentheses""
The error "missing space before closing round bracket" appears when I write in my conf file either "disallowSpacesInsideParentheses": true OR "requireSpacesInsideParentheses": "all"

But in the JSCS Rules, disallowSpacesInsideParentheses is the contrary of requireSpacesInsideParentheses !

Here my jscs.json :
{
  "preset": "jquery",
  "maximumLineLength": null,
  "requireMultipleVarDecl": null,

[2015-04-14 15:45] globexdesigns commented on #20
Sounds like an issue with JSCS itself. Try looking for and posting the issue in: https://github.com/jscs-dev/node-jscs/issues

[2015-04-14 15:45] #20 closed

[2015-04-15 15:46] lmagne commented on #20
OK,
Sorry for the time but I need some explanations.
In the jscs-browser.js file, when I comment the line number 28171 (which correspond to "requireSpacesInsideParentheses": "all", in the module 152) , the error don't appear.
After this change, to show the same error, I must add "requireSpacesInsideParentheses": "all" in my jscs.json.
So this module seem's to be the default conf. It's correct ? Ev

[2015-04-15 20:09] globexdesigns commented on #20
Try `"requireSpacesInsideParentheses": false` instead of `"requireSpacesInsideParentheses": null`

[2015-04-16 08:28] lmagne commented on #20
Oops. I have miss a line in the official documentation... I've got a vision after a good night ^^'
Sorry for your loss time.

If I had understand your plugin, you have do the automatisation in bracket, all the logic come from node-jscs without changes. Is it correct ?
Thank you for your answers !

[2015-04-16 14:31] globexdesigns commented on #20
That's correct. This extensions just runs your code through node-jscs and prints whatever it finds.

[2015-05-05 19:24] red2678 opened #21 "Large Project - Litner Config Not Found"
Hi,

In a few of our large projects (30,000+ files), the litner config is not found and brackets reverts to the default linter settings.

How can I fix this?

Thanks!!

[2015-05-05 19:45] globexdesigns commented on #21
Do you have a .jscsrc file in the root of your project?

[2015-05-05 19:46] red2678 commented on #21
I have a .jscs.json

~Anthony
*anthonytrimble.com
<https://mailtrack.io/trace/link/b65167329169ad5b51a5948a2e1945d23308a332?url=http%3A%2F%2Fanthonytrimble.com&signature=4e5078859bd34d9b>*​
| *linkedin.com/in/anthonytrimble/
<https://mailtrack.io/trace/link/d092aa511ffaf2f1ae4d90fab9034f812b9516be?url=http%3A%2F%2Flinkedin.com%2Fin%2Fanthonytrimble%2F&signature=8d7bc2b894130430>*

On Tue, May 5, 2

[2015-05-05 19:46] red2678 commented on #21
I have a .jscs.json

[2015-05-05 19:48] red2678 commented on #21
FYI, it seems to work when I rename the file to .jscsrc

[2015-05-07 07:43] hacker112 opened #22 "Upgrade to newest JSCS version"
There is bug (https://github.com/jscs-dev/node-jscs/issues/1163) that is fixed the newer versions of JSCS. So it would be great if the embedded JSCS could be upgraded in brackets-jscs :-)

[2015-05-07 14:30] #22 closed

[2015-05-17 00:59] #6 closed

[2015-05-17 00:59] #11 closed

[2015-05-17 00:59] #21 closed

[2015-05-17 00:59] evnaverniouk commented on #21
Can you try this again using 0.6.0?

[2015-05-17 01:08] globexdesigns commented on #6
The latest 0.6.0 release should fix this. However, note that 0.6.0 requires that you have JSCS installed globally via:

```npm install -g  jscs```

[2015-05-17 01:09] globexdesigns commented on #11
The extension v0.6.0 now supports walking up directories to look for config files. It will look for the nearest config file from the file you're currently editing.

However, 0.6.0 requires that you have JSCS installed globally via:

```npm install -g jscs```

[2015-05-17 09:16] ptakes opened #23 "After upgrading to 0.6.0 I get a JSCS processing error"
Unexpected JSCS processing error: Unable to load one of the modules: C:/Users/Peter/AppData/Roaming/Brackets/extensions/user/globexdesigns.brackets-jscs/domain, reason: Cannot find module 'jscs'

[2015-05-17 15:26] attilacsanyi commented on #23
I have the same problem, thanks for the quick fix

[2015-05-17 16:42] globexdesigns commented on #23
I've just pushed version 0.6.1, can you please try that?

@ptakes  You'll also need to make sure you run this `npm install -g jscs` and then restart Brackets.

[2015-05-17 17:20] attilacsanyi commented on #23
Dear @globexdesigns unfortunately the problem is the same, jscs module not found. It seems only win issue?

[2015-05-17 17:24] ptakes commented on #23
I tested 0.6.1 both upgrade and complete reinstall, but problem remains. I am also running on Windows like attilacsanyi, could be indeed a Windows only issue.

[2015-05-17 17:26] globexdesigns commented on #23
Actually, I've tested 0.6.x only on WIndows so it should work. I'll keep looking into it.

[2015-05-17 18:00] attilacsanyi commented on #23
I am using windows 8 64 bit, perhaps this is also matters

[2015-05-17 18:06] globexdesigns commented on #23
Can you please try this 0.6.2 build: https://www.dropbox.com/s/ie8a8y9wk6b1nj6/brackets-jscs-0.6.2.zip?dl=0 You'll have to unzip it into your Brackets Extensions folder (and delete the old globexdesigns.brackets-jscs extension in there). The restart Brackets.

It will not fix the issue, but it will now print a new error message. Something like this:

[code]

Make a note of the NODE_PATH value spec

[2015-05-17 18:16] ptakes commented on #23
Here you go:

Unexpected JSCS processing error: Unable to load one of the modules: C:/Users/Peter/AppData/Roaming/Brackets/extensions/user/globexdesigns.brackets-jscs/domain, reason: Unable to start brackets-jscs due to error: "Cannot find module 'jscs'". NODE_PATH is: C:\Users\Peter\AppData\Roaming\npm\node_modules

I checked the NODE_PATH, and the jscs module is there (C:\Users\Peter\AppData\Roa

[2015-05-17 18:52] attilacsanyi commented on #23
I have the same OS and got the same error message above like @ptakes really weird. If I run bracket with administrator privileges I got the same. Hmmm.

[2015-05-17 21:06] #23 closed

[2015-05-17 21:08] globexdesigns commented on #23
Ok, I've pushed a final 0.6.2 release to the registry which has JSCS embedded with the extension itself. I was hoping to avoid this so that users could update their local copies of JSCS instead of me having to bundle the latest JSCS version with each extension release... but, oh well.

I'll try to work with the Brackets team to find out why this isn't working as it should for all users, but until

[2015-05-17 22:17] attilacsanyi commented on #23
Dear @globexdesigns thanks for your quick resolution. I also hope there will be a better approach so I will check this extension regularly. Thanks again!

[2015-05-18 02:37] globexdesigns commented on #23
@attilacsanyi Could you do me another favour? Can you please:

- Download the new 0.6.3 extension from https://www.dropbox.com/s/ih7tyqft8w01sui/brackets-jscs-0.6.3.zip?dl=0
- Uninstall the current brackets-jscs extension from Brackets
- Install the 0.6.3 version of the extension by unzipping the downloaded package into your Extensions folder
- Make sure you've got `npm install -g jscs` installed

[2015-05-18 08:56] ptakes commented on #23
Yep, it is working now. Thank you for solving this so quickly.

[2015-05-18 16:52] globexdesigns commented on #23
@ptakes Can you try the 0.6.3 build using the instructions in my comment above as well?

[2015-05-18 18:29] ptakes commented on #23
I did test 0.6.3 following your instructions and everything is working now.

[2015-05-18 19:14] attilacsanyi commented on #23
Dear @globexdesigns it was working for me as well. Great job!

[2015-05-18 19:33] globexdesigns commented on #23
Thanks guys! I'll push 0.6.3 out.

[2015-05-19 15:01] jdelibas opened #24 "Cannot find module 'jscs'"
Ubuntu 15.04 x64
Brackets Release 1.3
JSCS 0.6.3

The removal of local jscs seems to have broke on ubuntu. (only tested on works machine)
I have globally(`npm -g`) installed the package but it refuses to find it...

I had to locally install(`npm`) jscs in  `extensions/user/globaldesigns.brackets-jscs` to get it to work.

Error Message
[code]

[2015-05-19 15:22] mitorez commented on #24
I get a similar error on:
Windows 7 SP1 Enterprise 64-bit
Brackets 1.3 - Release 1.3 build 1.3.0-16022 (release cd0a6aae5)
JSCS 0.6.3

**Error:**
[NodeDomain] Error loading domain "globexdesigns.brackets-jscs": Unable to load one of the modules: C:/Users/*username*/AppData/Roaming/Brackets/extensions/user/globexdesigns.brackets-jscs/domain, reason: Cannot find module 'jscs'

[2015-05-19 15:30] globexdesigns commented on #24
@mitorez The newest version of the extensions requires that you have node.js and jscs installed as a global npm package. Make sure you check out the Installation instructions in the README: https://github.com/globexdesigns/brackets-jscs#installation

[2015-05-19 15:37] mitorez commented on #24
@globexdesigns Thanks for the info. I must have misread the commit comment below, b/c it sounded like JSCS was now bundled in the extension. I'll install JSCS via node.
*Fixes #23. JSCS is now bundled with the extension as loading it from global modules doesn't seem to work reliably.*

[2015-05-19 15:45] jdelibas commented on #24
When locally installed it works on and off and I am seeing

`JSCS has timed out after waiting for 10000 ms`

Not sure if its related.

[2015-05-19 16:07] globexdesigns commented on #24
@mitorez I'm trying to find a way to not bundle JSCS with the extension. There are a couple benefits to this:
- Users can run their own versions of JSCS (allowing them to upgrade at their pace and sync up with their projects)
- Users don't need to wait for me to release extension update to use the latest JSCS build
However, for some reasons, not all users are able to use the global JSCS modules fo

[2015-05-21 05:34] #24 closed

[2015-05-21 05:34] globexdesigns commented on #24
I pushed a new 0.6.4 version. Can you give that a try?

[2015-05-21 13:00] mitorez commented on #24
@globexdesigns My company proxy blocks npm and I haven't had a chance to install JSCS from home yet, so I haven't tested this change - I'll try to install JSCS tonight and test tomorrow. Would you be open to a separate enhance request to include and load JSCS from within your extension if JSCS is not found globally? I'm ok with your extension not always running the latest version of JSCS, since ge

[2015-05-21 14:21] globexdesigns commented on #24
@mitorez  Yes. I've been discussing it with the Brackets team and they recommend building in a feature where the user selects the path to the JSCS module you want to use. With the choices being (global, local project, or whatever is bundled with the brackets-jscs extension). Such a feature might take a bit of time to build though.

[2015-05-22 13:52] mitorez commented on #24
@globexdesigns I installed JSCS globally via npm last night and your extension (v0.6.4) is working fine - it no longer writes a 'timeout' message to the code analysis console, it correctly loads the current JSCS errors for the scanned page. Thanks! Though I see you're now bundling JSCS again with v0.6.5.

[2015-05-22 14:38] globexdesigns commented on #24
Yeah... I'm giving up the idea of using the global packages. It never seems to work reliable for everyone despite my best efforts.

[2015-05-27 01:52] cithukyaw opened #26 "Unexpectedly stop the node server"
When I having this extension installed, I got several errors in developer console. Please check the following screen shot.

![635682783052642734](https://cloud.githubusercontent.com/assets/4285555/7817562/d212dd48-03fb-11e5-8569-f75895a89516.png)

This would cause any extension to be working. [Please check the other issue](https://github.com/mikaeljorhult/brackets-php-code-quality-tools/issues/22#

[2015-05-27 02:52] maskedcoder opened #27 "JSCS timing out"
After upgrading to 0.7.0, JSCS for Brackets is reporting `JSCS has timed out after waiting for 10000 ms` every time it runs.

I'm using Brackets 1.3 on Windows 7.

[2015-05-27 03:03] globexdesigns commented on #26
You're running an older version of the extension. Try upgrading to the latest version (0.7.0)

[2015-05-28 02:05] cithukyaw commented on #26
Got it! Thank you.

[2015-05-28 02:05] #26 closed

[2015-05-29 08:20] ptakes commented on #27
Same issue, this results in files added to the jscodehints.detectedExclusions list in the project's .brackets.json file.

[2015-06-03 14:51] rajsite commented on #27
After upgrading Brackets to 1.3.0-16022 and JSCS 0.7.0 I also see an error from JSCS. The message I see is `Unexpected JSCS processing error: Max connection attempts reached`

I found a similar sounding issue for brackets-git: https://github.com/zaggino/brackets-git/issues/410

The workaround mentioned there is to run the brackets process with admin privileges which worked for me on Win7 64-bit. T

[2015-06-12 16:05] #27 closed

[2015-06-12 16:06] globexdesigns commented on #27
The timeout issue should be fixed in 0.7.2. The "max connection" error is something new that I've never seen before...

[2015-06-24 19:10] rajsite commented on #27
I have upgraded to 0.7.3 and now when I open multiple instances of Brackets, every instance after the first (i.e. two or more instances) receives the error ```JSCS has timed out after waiting for 10000 ms``` in the linting window.

The Brackets.io JavaScript console show the following:
![capture](https://cloud.githubusercontent.com/assets/1588923/8339080/a2909e26-1a7a-11e5-87e8-064e7ab169b1.PNG)

[2015-06-24 20:19] globexdesigns commented on #27
Hmm. I can't seem to be able to reproduce that issue. Have you tried refreshing Brackets? It looks like the node servers for the app failed. Go to "Debug > Reload with Extensions".

[2015-06-26 08:49] RaYell opened #28 "Plugin breaks when JSCS is used with plugin"
I have a Brackets with JSCS plugin working fine for a while, but recently I wanted to add a plugin to my `.jscsrc` configuration (https://github.com/jscs-dev/jscs-jsdoc) but as soon as I did this I started getting errors in Brackets:

[code]

The configuration section I've added to `.jscsrc` is

[code]

The `jscs-jsdoc` module is installed correctly as it works perfectly well when I run JSCS from

[2015-06-26 14:40] globexdesigns commented on #28
In order to get the plugin to work with the Brackets extension you'll need to either:

1) Install the plugin globally (ie. npm install -g your_plugin), or
2) Install the plugin inside the brackets-jscs extension directory (ie. cd ~/Your/Brackets/Extension/Dir/user/globexdesigns.brackets-jscs && npm install your_plugin)

Then restart Brackets.

[2015-06-26 14:40] #28 closed

[2015-07-31 13:08] boldt opened #30 "The JSCS 2.0 does not use esprima anymore"
The new JSCS 2.0 does not use esprima anymore. Because of this, I ca not use the same .jscsrc for `grunt jscs` and `brackets-jscs`.

See: https://www.bountysource.com/issues/25066285-unknown-node-type-export-declaration?utm_campaign=plugin&utm_content=tracker%2F281640&utm_medium=issues&utm_source=github

[2015-08-04 16:55] amamf commented on #19
I'm suffering from not being able to use 2 linters side by side that run one after another. The point is that jshint and jscs are aimed at a bit different goals, so it would be logically if I could use both, especially taking into account that "interactive-linter.javascript" is an array which implies that I can define more than one linter, but when I try to use both linters - "interactive-linter.j

[2015-08-04 18:05] MiguelCastillo commented on #19
@amamf Yeah the long term is to allow multiple linters to run in interactive linter. But for right now only the first one runs, as you pointed out. Sorry for the confusion.  I am thinking of getting back to this in the next two weeks...  Really swamped with other stuff right now. :/

[2015-08-10 15:01] glepretre opened #31 "How to upgrade to JSCS 2.0.0 ?"
Hello,

Our team is updating our .jscsrc config files to use JSCS 2.0.0. They are using vi as code editor.
I am using brackets and your plugin but I can't manage to upgrade the JSCS version.

I tried upgrading the jscs node module in the plugin directory and globally, unsuccessfully.

I still have an `Unsupported rule` error. Do you know how can I do?

Thanks.

[2015-08-10 18:56] globexdesigns commented on #31
Hmm, upgrading the JSCS version inside the extension directory should do the trick. Have you tried closing and re-opening Brackets after upgrading?

[2015-08-11 07:32] glepretre commented on #31
Nope :smile: I had just tried to reload it with <kbd>F5</kbd>.
Closing and reopening worked :wink:

Is it normal that even if your `package.json` set `"jscs": "latest"` : it is installed with `jscs@1.13.1` from the extensions registry?

[2015-08-11 14:30] globexdesigns commented on #31
Yeah, you need to fully shut down Brackets because JSCS actually runs inside the Node.js instance and F5'ing Brackets just reloads the UI.

[2015-08-11 14:30] #31 closed

[2015-08-14 08:31] hacker112 commented on #31
I also have problem that brackets-jscs does install 1.13.1 instead of 2.x. If I manually delete the node_modules folder and run a npm install in the folder I get 2.1.0. BUT when I remove the brackets-jscs, even restart the computer and then reinstall the extension I get 1.13.1 installed.

It is like it is somehow some cached value of "latest" that is used. Do you know where this weird error comes

[2015-08-15 08:50] inad9300 opened #32 "Configuration file path"
I see this problem in many extensions... I think it would be more sensitive to include the possibility of defining the path for your own configuration file, instead of trying to guess it. At least specify where should we place it, please, because this "somewhere" you mention doesn't work for any place (the extension says "Unable to find a JSCS configuration file." – I just have a folder where all

[2015-08-15 14:25] stumblingmages opened #33 "Feature request: Add JSCS formatting"
Would it be possible to extend this to add the jscs formatting? Per this page it seems like it's done with an option.

https://medium.com/@addyosmani/auto-formatting-javascript-code-style-fe0f98a923b8

[2015-08-15 23:39] globexdesigns commented on #32
The extension currently mimics the command line tool whereby it scans directories upwards until it finds the first configuration file match. So in that respect - the extension works just like the command tool.

That being said, in addition to this, we can also add a way to specify a custom location.

[2015-08-15 23:40] globexdesigns commented on #33
This is already available. Simply right-click anywhere in the code editor and choose "Auto-fix with JSCS" or go to `Edit > Auto-fix with JSCS`.

[2015-08-15 23:40] #33 closed

[2015-08-17 06:50] glepretre commented on #31
@hacker112 I think that the archive provided by the registry is bundled and cached when the version gets updated :wink:

[2015-08-17 07:09] hacker112 commented on #31
@glepretre That makes sense, even though it seems like a bit of bad design ;-)

@globexdesigns Could you explicitly increase the version number of JSCS and bump the version in the Brackets Registry? :)

[2015-09-24 14:19] mattez opened #34 "Ignored rule: One space required after opening bracket."
JSCS for Bracket ignore rule [requireSpacesInsideBrackets](http://jscs.info/rule/requireSpacesInsideBrackets) which command line tool return correctly as an error. We use "preset": ["jquery"](https://github.com/jscs-dev/node-jscs/blob/master/presets/jquery.json).
This should be evaluated as an error:
[code]
and should be auto-fixed to:
[code]

My JSCS file
[code]
This extension save me a lot of ti

[2015-10-01 08:56] RonniePoulsen commented on #23
Hi @globexdesigns. I am new with the Brackets editor and I am trying to get brackets-jscs to work. Right now I am facing the exact same problem as @ptakes did in the beginning of this issue thread. How ever I have tried all solutions written in this thread with no luck. Can you please help me fix this?

I have posted a question over at Stackoverflow so I am hoping some one can point me in the righ

[2015-10-01 15:29] globexdesigns commented on #23
@RonniePoulsen Based on your StackOverflow info, it seems like you're running the extension by installing it directly from the Github repo. Is that right? Can you try removing the extension and then installing it via the Brackets Registry instead?

[2015-10-05 18:40] RonniePoulsen commented on #23
Hi @globexdesigns. Yes you're right. But I tried with both versions with no luck. I have now tried to get it working on my other computer with no problems at all. So then I uninstalled all packages and then reinstalled. Now it's working and I have no idea why haha. I guess there must have been a problem with some path references or something.

[2015-10-05 22:15] globexdesigns commented on #23
Yeah, the installation is a bit messy right now just because everyone's npm setup is slightly differently. So to make it work for everyone, there's a bit of a hoop you have to jump through to get it setup. Glad you got it working.

[2015-10-07 14:22] ficristo opened #35 "Support JSCS v2.2.1"
Can be upgraded to support the newer version?

[2015-10-08 01:35] #35 closed

[2015-10-08 01:36] globexdesigns commented on #35
v0.7.4 has been published to the Brackets Extension registry with the latest jscs version (v2.3.0)

[2015-10-08 11:30] ficristo commented on #35
I installed the new version but now I get this error:
Unexpected JSCS processing error: Unable to load one of the modules: ..../Brackets/extensions/user/globexdesigns.brackets-jscs/domain, reason: Cannot find module 'colors'

[2015-10-09 04:56] Dedice commented on #23
Unexpected JSCS processing error: Unable to load one of the modules: C:/Users/Andrei/AppData/Roaming/Brackets/extensions/user/globexdesigns.brackets-jscs/domain, reason: Cannot find module 'colors'

[2015-10-09 08:31] jobsturm opened #36 "I'm getting: Unexpected JSCS processing error: Unable to load one of the modules * reason: Cannot find module 'color'"

[2015-10-10 17:53] 6ix commented on #36
Same thing here.

[2015-10-10 18:55] chdanielmueller commented on #36
Same problem here

[2015-10-10 18:56] globexdesigns commented on #36
I'll push an update with a fix a little later today.

[2015-10-10 19:33] #36 closed

[2015-10-10 20:34] globexdesigns commented on #36
Version 0.7.5 has been published. It requires manual installation of JSCS. See Installation instructions here: https://github.com/globexdesigns/brackets-jscs

[2015-10-10 23:19] globexdesigns commented on #30
- Upgrade to the latest version of `bracket-jscs`.
- Follow the Installation instruction in the README here: https://github.com/globexdesigns/brackets-jscs
- Set your `.jscsrc` file to use `"esprima": "babel-jscs"`

That should work.

[2015-10-10 23:19] #30 closed

[2015-10-10 23:21] globexdesigns commented on #34
I have tested this rule with the latest version of the extension, and it works fine. Please upgrade and try again.

[2015-10-10 23:21] #34 closed

[2015-10-11 00:05] mattez commented on #34
Hi, thanx reply, but it is still same, not working.
How did you test it?

1 - updated to last version.
2 - create new _test.js_ file

Javascript file contains only:
[code]
3 - in Brackets > Edit > Auto-fix with JSCS
4 - only adds one line at the end
[code]
Other example, this
[code]
changes to this
[code]

My setup:

* JSCS for Brackets v.0.7.5
* Brackets Release 1.4 experimental build 1.4.0-16380

[2015-10-11 01:09] globexdesigns commented on #34
Try this:

[code]

[2015-10-12 10:52] mattez commented on #34
Thanx @globexdesigns this works! Great.
I had a not last version of your extension? or Where was a problem?

[2015-10-12 17:45] globexdesigns commented on #34
The latest version of JSCS requires that it is installed directly via `npm`. I cannot bundle it with the extension anymore because it is bigger than the 5MB limit. In order to update JSCS, you need to run `npm install` inside the extension directory.

[2015-11-02 22:33] zaggino opened #37 "error after latest update:"
![image](https://cloud.githubusercontent.com/assets/1067319/10896402/f6218604-820d-11e5-9b80-7b690607f598.png)

project: https://github.com/zaggino/z-schema
no mention of airbnb in it

[2015-11-02 22:38] globexdesigns commented on #37
Hmm. Nothing in our code loading `airbnb.json`. Are you sure you don't have some `.jscsrc` file in a higher directory that's depending on that preset?

[2015-11-02 22:45] zaggino commented on #37
Don't know about it, running `grunt jscs` works fine for me and this extension also worked fine before the update today.

[2015-11-02 22:48] globexdesigns commented on #37
Strange. There hasn't even been an update to `brackets-jscs` in the last month. Is this happening for all of your projects, or just the `z-schema` one?

Can you also try running `npm install `inside the `brackets-jscs` extension folder and see if that makes any difference?

[2015-11-02 22:54] zaggino commented on #37
Haven't updated for a while, it might have been pending update for some time. Doing `rm -rf node_modules && npm install` did the trick, closing.

[2015-11-02 22:54] #37 closed

[2015-11-30 23:06] anilnatha opened #38 "JSCS issue "Unexpected JSCS processing error: timeout""
I had been using this plugin for about 6 months without issue. After upgrading to Brackets v1.5, build 1.5.0-16538, I noticed that the JSCS information in the output stated the following:

So then I went through the installation and configuration information in the readme.md file, noticing that there were extra steps to perform that weren't there previously.  So I reinstalled the plugin via Extens

[2015-11-30 23:12] anilnatha commented on #38
So I restarted brackets a couple more times, and now JSCS is working as expected. I am unsure why the first, or second restart for that matter didn't work.  Sorry for the trouble.

[2015-11-30 23:22] globexdesigns commented on #38
I've noticed this with Brackets sometimes too. The internal Node.js server is sometimes slow to start which results in all extensions that use Node commands to fail. I don't know how to fix this on my end.

[2015-11-30 23:22] #38 closed

[2016-01-21 12:22] MagmaRules opened #39 "Support for the fix parameter"
Hi,

Would be great if there was support for the fix parameter so that when saving a file it could be fixed based on the rules used to validate.
Similar to this one: https://atom.io/packages/jscs-fixer

[2016-01-21 15:41] globexdesigns commented on #39
It's already possible. There is an "Auto-fix with JSCS" option available in the Edit menu as well as if you right-click anywhere in the editor.

[2016-01-21 15:41] #39 closed

[2016-01-21 15:43] MagmaRules commented on #39
Hi,

Yeah I found the option. Tried to make it work on save but seems to be hard at the moment. Without a beforeDocumentSaved event or something: https://github.com/adobe/brackets/issues/2633

[2016-01-21 15:58] globexdesigns commented on #39
Yeah, there's no easy way to make it run on save at the moment. But, that might actually be quite dangerous as the JSCS fixer is known to be buggy at times.

[2016-01-27 15:34] floross opened #40 "Using multiple brackets windows broke the extension"
Hi, first thanks for this extension.

I got a problem when I'm running more than one window of Brackets. The extension display an error message:

    Unexpected JSCS processing error: Max connection attempts reached

Is there a solution to be able to use JSCS parser with multiple window ?

Tell me if you need more information to find out what is going on.

[2016-01-27 18:07] globexdesigns commented on #40
Hmm, that message sounds like it's coming from inside the Brackets extension SDK. Does it stop working in all windows, or only in the latest opened window?

[2016-01-27 19:12] floross commented on #40
The extension still working on the very first window open. On every other new windows, the extension doesn't works.

[2016-01-27 20:41] globexdesigns commented on #40
I could use your help tracking this down. I'm not entirely sure what's causing the issue. Brackets is simply rejecting the requests on the other windows. It might be a Bracket core bug.

[2016-01-28 00:14] floross commented on #40
Tell me what can I do for you. I'll try to help you.

[2016-01-28 02:41] globexdesigns commented on #40
The error is coming from `nodeDomain.exec()` where `nodeDomain` is an instance of the Brackets NodeDomain (http://brackets.io/docs/current/modules/utils/NodeDomain.html) object.

It, sometimes, returns this `Max connection attempts reached` but I can't find any documentation as to why, or how to fix it.

[2016-03-08 07:19] ivan-yosifov commented on #23
Link to Dropbox is not working

[2016-03-08 15:32] globexdesigns commented on #23
@ivan-yosifov It is no longer needed. The official release no longer suffers from this issue.

[2016-05-04 19:55] philliprauschkolb commented on #24
I'm on a fresh install of everything and I'm getting the message:

`JSCS has timed out after waiting for 10000 ms`

I've installed JSCS globally first, then the extension but can't get it to work.

Brackets 1.6
JSCS 3.0.3

[2016-05-07 14:17] ericgrosse commented on #24
I'm having the same issue. I'm using Windows 10 and same versions as phil above.

[2016-05-07 16:54] EvNaverniouk commented on #24
Sorry guys. I think I'm going to have to drop support for this extension very soon.

- The JSCS and ESLint teams have decided to merge JSCS into ESLint, so it's best that you start migrating your rules to ESLint and the excellent bracket-eslint extension
- I'm not actively using Brackets anymore

If you want to try and take a look yourself and submit a PR I'd be more than happy to review and merge

[2016-05-20 13:52] catdad opened #41 "update to use JSCS 3"
A few of the projects I work on have now started using JSCS 3, causing this extension to show "unsupported rule" messages for some of the new rules.

[2016-05-20 14:19] EvNaverniouk commented on #41
I recommend you migrate to ESLint. JSCS is being deprecated.

[2016-05-20 14:21] catdad commented on #41
Unfortunately, it is not my call. They are community projects that I just contribute on.

[2016-05-20 23:03] EvNaverniouk commented on #41
Have you tried this:

[code]

[2016-05-21 00:46] catdad commented on #41
It installed JCSC 3.0.0. However, now it is just timing out when trying to get JSCS content.

There are some `[Connection] Unable to stringify message: Converting circular structure to JSON` coming from the Node connection. Not sure if that is related or not.

[2016-06-27 20:34] PStoner3 commented on #27
Brackets Build 1.7.0-16898 and JSCS For Brackets 0.7.5 produces same issue.

[2016-06-28 05:09] raghav135 opened #42 "Is there a way to invoke jscs auto fix as part of "save" of a file?"
Is there a way to invoke jscs auto fix as part of "save" of a file?

[2016-06-28 14:28] EvNaverniouk commented on #42
I'm not sure if the Brackets API allows this. At the moment, you can run it from the context menu.

[2016-07-20 13:15] VitaliyAT opened #43 "Not clear install instruction"
After I do Debug > Open Preferences File it open me 2 file:
**_defaultPreferences.json_** and **_brackets.json_**
no one of them have structure like:
"language": {...}
**_defaultPreferences.json_**
have few raws:
[code]
Could you show (print screen it) where is should be?

[2016-07-20 14:31] EvNaverniouk commented on #43
The steps for configuring Brackets might have changed since the configuration instructions for brackets-jscs have been written.

As the README says, this extension is being deprecated, so there are no plans to update the current instructions. Feel free to submit a PR if you discover the new way of configuring.

[2016-07-29 03:43] tenacioustechie commented on #27
Likewise, I've hit the same issue with Build 1.7.0-16898 with JSCS for brackets 0.7.5 produces the 'JSCS has timed out after waiting for 10000ms' error message. On Windows 10 x64.

[2016-09-21 16:13] geooogle commented on #27
Has any one found a solution to this yet? Thank you in advance!